.react-datepicker,
.react-datepicker__header,
.react-datepicker__current-month,
.react-datepicker__day,
.react-datepicker__day-name,
.react-datepicker__month,
.react-datepicker__week {
  font-size: 10px !important;
  /* text-xs */
}

.react-datepicker__day,
.react-datepicker__day-name {
  width: 1.2rem !important;
  line-height: 1.2rem !important;
  margin: 0.15rem !important;
}

.react-datepicker__current-month {
  font-size: 11px !important;
  font-weight: 400;
}

.react-datepicker__navigation {
  top: 16px !important;
}

.react-datepicker__header {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}